* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.room {
  position: relative;
  background: url(./room.jpg);
  object-fit: cover;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.room .stove {
  position: absolute;
  top: 2rem;
  min-height: 100%;
  transform: scale(0.57);
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room .stove .upperPartStove {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  background: #e3d9d5;
  background: linear-gradient(to left, #fdb575, #c4864f);
  box-shadow: -1px 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  overflow: hidden;
  border-left: 1px solid hsl(27, 95%, 86%, 0.2);
  filter: blur(1.5px);
}

.room .stove .upperPartStove .row {
  width: 100%;
  margin: auto;
  justify-content: center;
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room .stove .upperPartStove .row span {
  position: relative;
  display: inline-block;
  /* width: 18.6%; */
  width: calc(18.6% * (var(--i) / 100));
  height: 1.3rem;
  background: #d6774d;
  margin: 0 0.5px;
  box-shadow: 1px 2px 2.2px rgba(0, 0, 0, 0.4);
  border-radius: 2.5px;
  border-right: 2px solid rgba(89, 57, 55, 0.4);
  border-bottom: 2.8px solid rgba(89, 57, 55, 0.4);
}

.room .stove .middlePartStove {
  position: absolute;
  top: 40%;
  width: 160%;
  height: 9%;
  /* background: linear-gradient(to left, #fcdec6, #fca151); */
  background: radial-gradient(
    circle,
    #fcdec6,
    #fca151,
    #d6774d,
    #fca151,
    #fcdec6
  );
  border-radius: 5px;
  box-shadow: -2px 10px 25px rgba(0, 0, 0, 0.3);
  filter: blur(2px);
}

.room .stove .middlePartStove::before {
  position: absolute;
  content: "";
  top: 0.5px;
  z-index: -999;
  width: 99%;
  border-radius: 5px;
  height: 90%;
  background: transparent;
  border: 4px solid rgba(215, 121, 77, 0.3);
}

.room .stove .bottomPartStove {
  position: absolute;
  top: 48.9%;
  height: 51%;
  width: 145%;
  /* background: #fdb575; */
  background: linear-gradient(to left, #fdb575, #c4864f);
  box-shadow: -1px 15px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  filter: blur(1px);
}

.room .stove .bottomPartStove .row {
  width: 100%;
  margin: auto;
  position: relative;
  justify-content: center;
  height: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room .stove .bottomPartStove .row span {
  position: relative;
  display: inline-block;
  /* width: 18.6%; */
  width: calc(18.6% * (var(--i) / 100));
  height: 1.3rem;
  background: #d6774d;
  margin: 0 0.5px;
  box-shadow: 1px 2px 2.2px rgba(0, 0, 0, 0.4);
  border-radius: 2.5px;
  border-right: 2px solid rgba(89, 57, 55, 0.4);
  border-bottom: 2.8px solid rgba(89, 57, 55, 0.4);
}

.room .stove .bottomPartStove .stoveHole {
  position: absolute;
  top: 0;
  width: 90%;
  height: 70%;
  left: 5%;
  top: 25%;
  /* background: radial-gradient(#000, #333, #666, #888); */
  background: radial-gradient(ellipse at top, #444, #222, #111);
  z-index: 999;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 20px solid rgb(62, 60, 61, 0.9);
  box-shadow: -3px 2.5px 1px rgba(0, 0, 0, 0.4);
}

.room .stove .bottomPartStove .stoveHole::after {
  position: absolute;
  content: "";
  top: -22px;
  left: -22px;
  right: -22px;
  bottom: -22px;
  z-index: 999;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 5px solid rgba(89, 57, 55, 0.7);
  background: transparent;
}

.room .stove .bottomPartStove .stoveHole .stoveHole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room .stove .bottomPartStove .woodBox {
  width: 100%;
  height: 70%;
  position: relative;
  margin: auto;
}

.room .stove .bottomPartStove .stoveHole .wood {
  position: absolute;
  top: 100%;
  z-index: 99999999;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(to top, #b34002, #ae4625, #ff3604);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.4);
}

.room .stove .bottomPartStove .stoveHole .wood::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(to top, #f36c22, #daa658);
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.4);
}

.room .stove .bottomPartStove .stoveHole .wood:nth-child(1) {
  left: 3.5rem;
  width: 2rem;
  height: 5rem;
  transform: rotate(80deg) rotateX(20deg) translateY(-50%) translateX(-70%);
}

.room .stove .bottomPartStove .stoveHole .wood:nth-child(2) {
  left: 6.5rem;
  width: 2rem;
  height: 5rem;
  transform: rotate(40deg) rotateX(20deg) translateY(-30%);
}

.room .stove .bottomPartStove .stoveHole .wood:nth-child(3) {
  left: 9.5rem;
  width: 2rem;
  height: 5rem;
  transform: rotate(0deg) rotateX(20deg) translateY(-15%);
}

.room .stove .bottomPartStove .stoveHole .wood:nth-child(4) {
  left: 12.5rem;
  width: 2rem;
  height: 5rem;
  transform: rotate(-40deg) rotateX(20deg) translateY(-30%);
}

.room .stove .bottomPartStove .stoveHole .wood:nth-child(5) {
  left: 15.5rem;
  width: 2rem;
  height: 5rem;
  transform: rotate(-80deg) rotateX(20deg) translateY(-60%) translateX(70%);
}

.room .stove .bottomPartStove .fire {
  width: 40%;
  height: 40%;
  background: transparent;
  position: absolute;
  top: 32%;
  left: 30%;
  z-index: 999999999999999999999;
}

.room .stove .bottomPartStove .fire .fireFlame {
  display: inline-block;
  width: 9%;
  height: 100%;
  background: linear-gradient(to top, #f7d915, #f78400, #dc3a19);
  /* background: linear-gradient(to top, #dc3a19, #f78400, #f7d915); */
  position: absolute;
  z-index: 9999999999999999999999;
  animation: animate 4s linear infinite;
  transform: rotate(180deg);
  transform-origin: bottom;
  border-radius: 25%;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  animation-delay: calc(var(--fireI) * -0.5s);
  filter: blur(4px) hue-rotate(15deg);
}

@keyframes animate {
  0% {
    transform: scaleY(0.2) scaleX(1);
  }

  /* 15% {
    opacity: 0;
  } */

  50% {
    transform: scaleY(0.6) scaleX(2.5);
  }

  /* 95% {
    opacity: 1;
  } */

  100% {
    transform: scaleY(0.2) scaleX(1);
  }
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(1) {
  left: 25%;
  transform: scaleY(0.4);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(2) {
  left: 30%;
  transform: scaleY(0.6);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(3) {
  left: 35%;
  transform: scaleY(0.4);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(4) {
  left: 40%;
  transform: scaleY(0.8);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(5) {
  left: 45%;
  transform: scaleY(1);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(6) {
  left: 50%;
  transform: scaleY(1);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(7) {
  left: 55%;
  transform: scaleY(0.8);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(8) {
  left: 60%;
  transform: scaleY(0.6);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(9) {
  left: 65%;
  transform: scaleY(0.4);
}

.room .stove .bottomPartStove .fire .fireFlame:nth-child(10) {
  left: 70%;
  transform: scaleY(0.4);
}

.sofaImg {
  position: absolute;
  left: 6rem;
  bottom: -6rem;
  filter: blur(1.5px);
}

.sofaImg img {
  width: 50%;
  height: 100%;
  transform: rotateY(320deg);
}

.tableImg {
  position: absolute;
  right: -2%;
  bottom: 2rem;
  filter: blur(0.8px);
}

.tableImg img {
  width: 50%;
  height: 100%;
  transform: rotateY(320deg);
}

.table2Img {
  position: absolute;
  left: 42%;
  bottom: 0;
  filter: blur(0.6px);
}

.table2Img img {
  width: 50%;
  height: 100%;
  transform: rotateY(320deg);
}

.frame {
  position: absolute;
  width: 20rem;
  height: 10rem;
}

.frame1 {
  top: 40%;
  left: 25%;
}

.frame2 {
  top: 40%;
  right: 18%;
}

.frame::before {
  position: absolute;
  width: 60%;
  height: 60%;
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: transparent;
  border: 10px solid #f78400;
  filter: blur(10px);
}

.frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 63%;
  height: 66%;
  position: absolute;
  filter: blur(0.5px);
}

@media screen and (max-width: 1024px) {
  .room .stove {
    top: 1rem;
  }

  .room .sofaImg {
    display: none;
  }

  .room .frame {
    display: none;
  }

  .room .tableImg {
    bottom: 0;
    left: 0;
    width: 80%;
    height: 50%;
    transform: scale(0.9);
    filter: blur(0.6px);
  }

  .room .table2Img {
    bottom: 2%;
    right: 0;
    transform: scale(0.6);
    filter: blur(0.6px);
  }
}

@media screen and (max-width: 768px) {
  .room .table2Img {
    transform: scale(1);
  }

  .room .tableImg {
    bottom: 0;
    left: 0;
    width: 80%;
    height: 30%;
    transform: scale(1);
    filter: blur(0.6px);
  }

  .room .table2Img {
    bottom: 2%;
    transform: scale(1.3);
    filter: blur(0.6px);
  }
}
